
.container {
    padding-block: 4rem 12rem;
}

.slices {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;

    @include md {
        row-gap: 6rem;
    }

    @include sm {
        row-gap: 4rem;
    }
}

.label {
    opacity: .7;
    
    margin-bottom: 6rem;

    @include md {
        margin-bottom: 4rem;
    }

    @include sm {
        margin-bottom: 2rem;
    }
}