
.workDetail {
    position: relative;
    contain: paint;

    padding-block: 20rem 4rem;

    @include md {
        padding-top: 14rem;
    }

    &__container {
        @include sm {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        margin-bottom: 1rem;

        font-weight: 600;
    }

    &__subtitle {
        opacity: .5;

        font-weight: 400;
    }

    &__liveLink {
        display: inline-block;
        width: fit-content;
        margin-top: 6rem;

        @include md {
            margin-top: 4rem;
        }

        @include sm {
            margin-top: 3rem;
        }
    }

    &__list {
        margin-top: 6.5rem;

        gap: var(--grid-gap);

        @include md {
            margin-top: 6rem;
        };

        @include sm {
            order: 1;

            margin-top: 4rem;
        }

        &__text {
            font-weight: 500;
        }
    }

    &__image {
        margin-top: 10rem;
        width: 100%;

        @include sm {
            margin-top: 2rem;

            display: none;
        }

        &.sm {
            display: none;

            @include sm {
                display: block;
    
                width: 100vw;
    
                margin-inline: calc(var(--container-padding) * -1);
            }
        }
    }
}

.contentWrapper {
    display: flex;
    flex-direction: column;

    row-gap: 1.5rem;

    @include md {
        grid-column: span 6 !important;

        row-gap: .8rem;
    }

    @include sm {
        grid-column: 1/-1 !important;

        row-gap: .1rem;
    }

    &__label {
        font-weight: 600;

        opacity: .5;
    }

    &__content {
        width: 100%;
    }


    &.role {
        grid-column: 1/4;
    }
    &.challenge {
        grid-column: 4/9;
    }
    &.responsibilities {
        grid-column: 9/-1;
    }
}