

.richtext {
    contain: paint;
    position: relative;

    &__inner {
        grid-column: 4/10;

        text-align: center;

        @include md {
            grid-column: 2/12;
        }

        @include sm {
            grid-column: 1/-1;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 600 !important;
        }
    }
}