

.projectItem {
    position: relative;
    display: block;

    width: 100%;

    overflow: hidden;

    @include sm {
        // height: 18rem;
        aspect-ratio: 21/9 !important;
    }

    &__bg {
        position: relative;
        @include size(100%);
        z-index: 1;

        display: grid;
    }

    &__img {
        position: relative;
        z-index: 2;
        @include size(100%);

        grid-column: 1/2;
        grid-row: 1/2;

        opacity: 1;
    }

    &__video {
        position: relative;
        z-index: 1;
        @include size(100%);

        grid-column: 1/2;
        grid-row: 1/2;

        object-fit: cover;

        z-index: 1;
    }

    &__content {
        position: absolute;
        inset: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: var(--container-padding);

        mix-blend-mode: difference;

        color: white;

        opacity: 0;

        &__title {
            font-weight: 300;

            letter-spacing: -.03em;

            margin-bottom: .4rem;

            @include md {
                font-size: 2.8rem !important;
            }

            @include sm {
                font-size: 1.6rem !important;
            }
        }

        &__sub {
            // opacity: .8;

            font-weight: 100 !important;

            @include md {
                font-size: 1.6rem !important;
            }

            @include sm {
                font-size: 1.2rem !important;
            }
        }
    }
}