

.projectItem {
    position: relative;
    display: block;

    width: 100%;

    overflow: hidden;

    &__bg {
        position: relative;
        @include size(100%);
        z-index: 1;

        display: grid;
    }

    &__img {
        position: relative;
        z-index: 2;
        @include size(100%);

        grid-column: 1/2;
        grid-row: 1/2;

        opacity: 1;
    }

    &__video {
        position: relative;
        z-index: 1;
        @include size(100%);

        grid-column: 1/2;
        grid-row: 1/2;

        object-fit: cover;

        z-index: 1;
    }

    &__content {
        position: absolute;
        inset: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        padding: var(--container-padding);

        &__title {
            font-weight: 100;

            letter-spacing: -.03em;

            @include md {
                font-size: 2.8rem;
            }

            @include sm {
                font-size: 2rem;
            }
        }
    }
}