
@layer typo {
    .display {
    
        &_48 {
            font-size: 4.8rem;
            line-height: 1;

            font-weight: 700;

            @include md {
                font-size: 3.6rem;
            }
        }
    }
}