

.about {
    padding-block: 18rem 4rem;
    contain: paint;

    @include md {
        padding-block: 14rem 4rem;
    }


    &__label {
        grid-column: 1 / -1;

        width: fit-content;
        
        margin-bottom: 7.6rem;

        font-weight: 100;

        @include md {
            margin-inline: auto;

            margin-bottom: 4rem;
        }
        
        &__text {
            -webkit-text-fill-color: transparent;
            background: linear-gradient(90deg, #ffffff, #878787);
            background-clip: text;
        }
    }

    &__content {
        grid-column: 1/7;
        height: fit-content;

        @include md {
            grid-column: 1/-1;

            text-align: center;
        }
    }


    &__name {
        font-weight: 600 !important;

        @include sm {
            font-size: 4rem;
        }
    }

    &__nickname {
        font-size: 4.8rem !important;

        font-weight: 200 !important;

        opacity: .5;

        @include sm {
            font-size: 4rem !important;
        }
    }

    &__skill {
        display: flex;
        margin-top: 4rem;

        @include md {
            justify-content: center;

            margin-top: 2.4rem;
        }

        &__item {
            display: block;
            width: fit-content;

            line-height: 1 !important;
            font-weight: 400;

            padding: 1.4rem 4rem;
            
            border: solid 1px #ffffff;
            
            border-radius: 100vmax;
            
            &:not(:first-child) {
                margin-left: -2rem;
            }

            @include md {
                font-size: 1.5rem !important;

                padding: .8rem 2.4rem 1rem;

                &:not(:first-child) {
                    margin-left: -1.2rem;
                }
            }
        }
    }

    &__slices {
        position: relative;
        grid-column: 7/-1;

        display: flex;
        flex-direction: column;

        row-gap: 12rem;

        margin-right: -1.8rem;


        @include md {
            grid-column: 1/-1;

            margin-top: 8rem;
            margin-right: unset;

            row-gap: 8rem;
        }


        @include sm {
            row-gap: 6rem;
        }
    }

    &__scroll {
        cursor: pointer;

        position: sticky;
        bottom: -1px;
        width: 100%;
        z-index: 5;

        display: flex;
        
        align-items: center;
        justify-content: center;

        padding-block: 4rem;

        background-image: linear-gradient(to bottom, transparent 0%, var(--background) 85%);

        transition: opacity .3s var(--ease-out-quint);

        @include hover {
            opacity: .8;
        }

        &__icon {
            width: 3.2rem;
        }
    }
}

.skill {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    
    &__wrapper {
        grid-template-columns: 25.5rem 1fr;
        
        @include md {
            --grid-column: 3;
            grid-template-columns: repeat(var(--grid-column), minmax(1px, 1fr));
        }

        @include sm {
            --grid-column: 1;

            row-gap: 2rem;
        }
    }

    &__list {
        grid-column: 2/-1;

        display: flex;
        flex-direction: column;

        row-gap: 5rem;

        @include sm {
            grid-column: 1/-1;
        }
    }

    &__label {
        font-weight: 300;

        @include sm {
            font-weight: 400;
        }
    }

    &__content {
        width: 100%;
    }

    &__single {
        display: flex;
        flex-direction: column;
        row-gap: .2rem;

        opacity: .6;
    }

    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--grid-column);
    }

    // &__item {
    //     @include sm {
    //         font-size: 1.4rem !important;
    //     }
    // }
}