
@layer typo {
    .body {
        &_16 {
            font-size: max(1.6rem, 14px);
            line-height: 1.4;

            font-weight: 200;


            @include sm {
                font-size: max(1.4rem, 12px);
            }
        }

        &_20 {
            font-size: max(2rem, 18px);
            line-height: 1.4;


            font-weight: 200;

            @include sm {
                font-size: max(1.8rem, 16px);
            }
        }

        &_26 {
            font-size: max(2.6rem, 14px);
            line-height: 1.4;

            font-weight: 200;
        }
    }
}