
.detailSlide {
    position: relative;
    contain: paint;

    display: flex;
    flex-direction: column;

    max-height: 80svh;
    overflow: hidden;

    &__list {
        position: relative;
        z-index: 1;
        display: grid;
    
        @include size(100%);
    
        user-select: none;

        height: 100%;

        overflow: hidden;
    }

    &__img {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;

        @include size(100%);

        overflow: hidden;

        z-index: 1;


        &.clone {
            user-select: none;

            z-index: 10;
        }

        &:first-child {
            z-index: 2;
        }


        & img {
            object-fit: contain !important;

            background-color: var(--white-80);
        }
    }

    &__arrow {
        position: absolute;
        z-index: 2;

        top: 50%;
        transform: translateY(-50%);

        cursor: pointer;

        mix-blend-mode: difference;

        &.left {
            left: var(--container-padding);
        }

        &.right {
            right: var(--container-padding);
        }

        &__icon {
            @include size(5rem);

            @include sm {
                @include size(3rem);
            }
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}